page-home {
    .title.title-md {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        text-align: center;
    }
       
    .navbarLogo{
        height: 40px;
        float:left;
        margin-left:10px;
    }
    page-home {
    .blue{
        color:#006699;
    }
    #udpateBox{
        textarea{
            width:100%;
        }
    }
    }

}
